<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./../bootstrap.min.css">
    <link rel="stylesheet" href="./../assets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./../assets/download.png" />
    <title>U.I.E.T. || Register Page</title>
</head>

<body>
    <h1>U.I.E.T. STUDENT'S FEEDBACK PORTEL</h1>
  
    <div class="contain mb-2">
        <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">

            <h4 class="card-title font-weight-bold ">
                <h2 class="text-success ">User Register Page</h2>
            </h4>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
            <h class="mb-3">
              <img src="/assets/secure-icon.png" alt="icon" width="20%" />
            </h>
           
            <%- include ("./messages") %>
            <form action="/auth/register" method="POST">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="name" id="name" name="name" class="form-control" placeholder="Enter Full Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>" />
              </div>
              
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                  value="<%= typeof email != 'undefined' ? email : '' %>" />
              </div>
              <div class="form-group">
                <label for="phoneno">Phone No</label>
                <input type="phoneno" id="phoneno" name="phoneno" class="form-control" placeholder="Enter Phone No"
                  value="<%= typeof phoneno != 'undefined' ? phoneno : '' %>" />
              </div>
              <div class="row">
                  
              <div class="col">
                <label for="course">Course</label>
                <input type="text" id="phoneno" name="course" class="form-control" placeholder="Enter Course"
                  value="<%= typeof course != 'undefined' ? course : '' %>" />
              </div>
              <div class=" col">
                <label for="branch">Branch</label>
                <input type="text" id="branch" name="branch" class="form-control" placeholder="Enter branch"
                  value="<%= typeof branch != 'undefined' ? branch: '' %>" />
              </div>
              <div class="col">
                <label for="year">Year</label>
                <input type="number" id="year" name="year" class="form-control" min="1" max="5" placeholder="Enter Year"
                  value="<%= typeof year != 'undefined' ? year : '' %>" />
              </div>
            
        </div>
              <div class="form-group mt-3">
                <label for="hostal">Hostal</label>
                <input type="text" id="hostal" name="hostal" class="form-control" min="1" max="5" placeholder="Enter Hostal"
                <small id="emailHelp" class="form-text text-muted">If not in hostal write other or locality name.</small>
                  value="<%= typeof hostal != 'undefined' ? hostal : '' %>" />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>" />
              </div>
              <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
              </div>
              <button type="submit" class="btn btn-success btn-block">
                Register
              </button>
            </form>
            <p class="mt-4">Already have an account? <a href="/auth/login">Login</a></p>
          </div>
        </div>
      </div>
      
    <div class="row mt-3 mx-0 px-0">
        <div class="col-md-12 py-2px text-center bg-dark">
            <p class="font-italic text-light ">&copy; Copyrights uietfeedbackportel.com All rights reserved.
            </p>
        </div>
    </div>

    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
    
</body>

</html>
