<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./../bootstrap.min.css">
    <link rel="stylesheet" href="./../assets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./../assets/download.png" />
    <title>U.I.E.T. || View Feedback</title>
</head>

<body>
    <h1>U.I.E.T. STUDENT'S FEEDBACK PORTEL</h1>
    <div class="contain">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active px-2">
                <a class="nav-link adi" href="dashboard">Home</a>
              </li>
              <li class="nav-item active px-2">
                <a class="nav-link adi" href="view_all_feedback">View All Feedbacks</a>
              </li>
              <li class="nav-item active px-2">
                <a class="nav-link adi" href="submit_feedback">Submit A Feedback</a>
              </li>
              
              <li class="nav-item active px-2">
                  <a class="nav-link adi" href="view_feedback">View Own Feedback</a>
                </li>
                <li class="nav-item active px-2">
                  <a class="nav-link adi" href="view_query">View Own Query</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              
              <li class="nav-item active px-2">
                <a class="nav-link adi" href="user_profile">Profile</a>
              </li>
              <li class="nav-item active px-2">
                <a class="nav-link adi" href="auth/logout">Logout</a>
              </li>
            </ul>
          </div>
          
        
        </nav>
      </div>
    <div class="contain mb-2">
        <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">

            <h4 class="card-title font-weight-bold ">
                <h2 class="text-success ">View Own Feedback</h2>
            </h4>
        </div>
    </div>

    <div class="container mt-4">
        <%- include ("./messages") %>
        <div class="row">

            <div class="col-md-12 ">
                <% for(var i = (users.length-1); i>= 0 ; i--) { %>
                <ul class="comment__box">
                    <li class="comment">
                        <div class="card border-light mb-3 shadow rounded">
                            <div class="card-body">
                                

                                <p class=" mt-2 text-uppercase color-dark font-weight-bold"><span class="text-primary font-weight-bold">Feedback : </span><%= users[i].feedback %></p>
                                <div class="row">
                                    <div class="col">
                                        <img src="./../assets/clock.png" alt="clock">
                                        <small> <%=moment(users[i].createdAt).format( 'ddd, Do MMMM YYYY')%></small>
                                    </div>


                                    <a href="/update_feedback/<%= users[i]._id %>" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt"
                                                style="color:blue"></i></span>
                                    </a>

                                    <a href="/delete_fd/<%= users[i]._id %>" onclick="return confirm('Are you confirm want to delete');"  class="btn border-shadow delete">
                                        <span class="text-gradient"><i class="fas fa-times "
                                                style="color:red"></i></span>
                                    </a>

                                </div>

                            </div>
                        </div>
                    </li>

                </ul>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row mt-3 mx-0 px-0">
        <div class="col-md-12 py-2px text-center bg-dark">
            <p class="font-italic text-light ">&copy; Copyrights uietfeedbackportel.com All rights reserved.
            </p>
        </div>
    </div>

    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        <script src="/js/moment.min.js"></script>
</body>
    


</html>